.x-calendar-event {
    position: absolute;
    overflow: hidden
}

.x-calendar-event.x-calendar-event-static {
    position: static
}

.x-calendar-event-inner {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    cursor: default;
    height: 100%;
    width: 100%;
    cursor: pointer
}

.x-calendar-event-inline-title .x-calendar-event-time {
    display: inline
}

.x-calendar-event-inline-title .x-calendar-event-time-separator,.x-calendar-event-inline-title .x-calendar-event-time-end {
    display: none
}

.x-calendar-event-inline-title .x-calendar-event-inner {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.x-calendar-compact .x-calendar-event-time {
    display: none
}

.x-calendar-compact .x-calendar-event-inner {
    overflow: hidden
}

.x-calendar-event-resizer {
    position: absolute;
    left: 50%;
    bottom: 0;
    cursor: s-resize;
    display: none
}

.x-calendar-event-resizable:hover .x-calendar-event-resizer,.x-calendar-event-resizing .x-calendar-event-resizer {
    display: block
}

.x-calendar-event .x-calendar-event-inner {
    font-family: Roboto, sans-serif
}

.x-calendar-event .x-calendar-event-time {
    padding: 0 4px 0 0
}

.x-calendar-event .x-calendar-event-resizer:after {
    font-size: 16px;
    font-family: monospace;
    content: "="
}

.x-calendar-event.x-calendar-event-dragging {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.8
}

.x-calendar-event.x-calendar-event-resizing {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.8
}

.x-calendar-event-week-span .x-calendar-event-time {
    display: none
}

.x-calendar-event-week-span {
    margin: 3px
}

.x-calendar-event-week-span .x-calendar-event-inner {
    padding: 1px 1px 1px 3px;
    font-size: 13px
}

.x-calendar-event-week-inline .x-calendar-event-time-separator,.x-calendar-event-week-inline .x-calendar-event-time-end {
    display: none
}

.x-calendar-event-week-inline {
    margin: 3px
}

.x-calendar-event-week-inline .x-calendar-event-inner {
    padding: 0 0 0 3px;
    font-size: 13px
}

.x-calendar-event-day {
    margin: 1px 0;
    border-width: 1px;
    border-style: solid
}

.x-calendar-event-day .x-calendar-event-inner {
    padding: 2px 4px;
    font-size: 11px
}

.x-calendar-list-item {
    position: relative
}

.x-calendar-list-icon {
    position: absolute
}

.x-calendar-list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.x-calendar-header-table {
    table-layout: fixed;
    border-collapse: collapse
}

.x-calendar-base .x-calendar-header-table {
    width: 100%
}

.x-calendar-header-cell {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    cursor: default
}

.x-calendar-header-hidden-cell {
    display: none
}

.x-calendar-header {
    background-color: #fafafa;
    background-color: var(--background-color);
}

.x-calendar-header .x-calendar-header-cell {
    font-weight: normal;
    line-height: 1.25;
    font-family: Roboto, sans-serif;
    border: 1px solid #e2e2e2;
    border: 1px solid var(--divider-color);
    border-bottom-width: 0;
    text-align: center;
    color: #111;
    color: var(--color);
}

.x-calendar-header .x-calendar-header-gutter {
    background-color: #fafafa;
    background-color: var(--background-color);
}

.x-calendar-header-large .x-calendar-header-cell {
    font-size: 13px;
    line-height: 1.25;
    border-bottom-width: 0;
    padding: 8px 2px
}

.x-calendar-header-large .x-calendar-header-gutter {
    width: 48px
}

.x-calendar-header-compact .x-calendar-header-cell {
    font-size: 13px;
    line-height: 1.25;
    border-bottom-width: 0;
    padding: 3px 2px
}

.x-calendar-header-compact .x-calendar-header-gutter {
    width: 24px
}

.x-calendar-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%
}

.x-calendar-days-table-wrap {
    display: table;
    width: 100%;
    height: 100%
}

.x-calendar-days-header-wrap {
    width: 100%;
    display: table-cell;
    position: relative
}

.x-calendar-days-body-row {
    display: table-row;
    width: 100%;
    height: 100%
}

.x-calendar-days-body-cell {
    display: table-cell;
    position: relative;
    width: 100%
}

.x-gecko .x-calendar-days-body-cell {
    position: static
}

.x-calendar-days-body-wrap {
    position: relative;
    width: 100%;
    height: 100%
}

.x-calendar-days-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 100%
}

.x-calendar-days-allday-events {
    position: relative
}

.x-calendar-days-allday-events td {
    padding: 0
}

.x-calendar-days-allday-background-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.x-calendar-days-body-table {
    position: absolute;
    height: auto
}

.x-calendar-days-body-table td {
    padding: 0
}

.x-calendar-days-time,.x-calendar-days-allday-empty-cell {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    cursor: default
}

.x-calendar-days-day-column {
    position: relative;
    z-index: 0
}

.x-calendar-days-day-event-container {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0
}

.x-calendar-days-now-marker {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000
}

.x-calendar-days {
    background-color: #fafafa;
    background-color: var(--background-color);
}

.x-calendar-days .x-calendar-days-header-gutter {
    background-color: #fafafa;
    background-color: var(--background-color);
    border: 1px solid #e2e2e2;
    border: 1px solid var(--divider-color);
}

.x-calendar-days .x-calendar-days-allday-background-cell {
    border-right: 1px solid #e2e2e2;
    border-right: 1px solid var(--divider-color);
    border-top: 1px solid #e2e2e2;
    border-top: 1px solid var(--divider-color);
}

.x-calendar-days .x-calendar-days-time-ct {
    background-color: #fafafa;
    background-color: var(--background-color);
    border-left: 1px solid #e2e2e2;
    border-left: 1px solid var(--divider-color);
    border-right: 1px solid #e2e2e2;
    border-right: 1px solid var(--divider-color);
}

.x-calendar-days .x-calendar-days-time {
    height: 42px;
    color: #111;
    color: var(--color);
    text-align: right;
    font-family: Roboto, sans-serif;
    border-bottom: 1px solid #e2e2e2;
    border-bottom: 1px solid var(--divider-color);
}

.x-calendar-days .x-calendar-days-time-ampm {
    line-height: 12px
}

.x-calendar-days .x-calendar-days-day-column {
    border-right: 1px solid #e2e2e2;
    border-right: 1px solid var(--divider-color);
}

.x-calendar-days .x-calendar-days-marker {
    height: 42px;
    border-bottom: 1px solid #e2e2e2;
    border-bottom: 1px solid var(--divider-color);
}

.x-calendar-days .x-calendar-days-marker-alt {
    height: 21px;
    border-bottom: 1px dotted #e2e2e2;
    border-bottom: 1px dotted var(--divider-color);
}

.x-calendar-days .x-calendar-days-now-marker {
    margin: 0 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #a94442
}

.x-calendar-days .x-calendar-days-allday-empty-cell {
    line-height: 10px;
    border-bottom: 1px solid #e2e2e2;
    border-bottom: 1px solid var(--divider-color);
}

.x-calendar-days .x-calendar-days-selection {
    background-color: #bbdefb;
    background-color: var(--base-light-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3
}

.x-calendar-days-large .x-calendar-days-day-event-container {
    margin-right: 15px;
    margin-left: 5px
}

.x-calendar-days-large .x-calendar-days-header-gutter {
    width: 48px
}

.x-calendar-days-large .x-calendar-days-time-ct {
    width: 48px
}

.x-calendar-days-large .x-calendar-days-time {
    padding: 2px 2px 0 0;
    font-size: 13px
}

.x-calendar-days-large .x-calendar-days-allday-empty-cell {
    line-height: 10px
}

.x-calendar-days-compact .x-calendar-days-day-event-container {
    margin-right: 0;
    margin-left: 0
}

.x-calendar-days-compact .x-calendar-days-header-gutter {
    width: 24px
}

.x-calendar-days-compact .x-calendar-days-time-ct {
    width: 24px
}

.x-calendar-days-compact .x-calendar-days-time {
    padding: 2px 2px 0 0;
    font-size: 11px
}

.x-calendar-days-compact .x-calendar-days-allday-empty-cell {
    line-height: 10px
}

.x-calendar-weeks {
    position: relative
}

.x-calendar-weeks-week-rows {
    width: 100%;
    height: 100%
}

.x-calendar-weeks-cell {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    cursor: default
}

.x-calendar-weeks-cell-inner {
    width: 100%;
    height: 100%;
    position: relative
}

.x-calendar-weeks-hidden-cell {
    display: none
}

.x-calendar-weeks-overflow {
    position: absolute;
    display: none;
    text-align: center;
    cursor: pointer
}

.x-calendar-weeks-with-overflow-bottom .x-calendar-weeks-overflow {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0
}

.x-calendar-weeks-with-overflow-top .x-calendar-weeks-overflow {
    top: 5px;
    right: 5px
}

.x-calendar-weeks-overflow-cell .x-calendar-weeks-overflow {
    display: block
}

.x-calendar-weeks {
    background-color: #fafafa;
    background-color: var(--background-color);
}

.x-calendar-weeks .x-calendar-weeks-cell {
    border-style: solid;
    border-color: #e2e2e2;
    border-color: var(--divider-color);
    border-width: 1px;
    vertical-align: top;
    cursor: pointer
}

.x-calendar-weeks .x-calendar-weeks-cell:hover {
    background-color: #bbdefb;
    background-color: var(--base-light-color);
}

.x-calendar-weeks .x-calendar-weeks-cell-inner {
    padding: 2px 0 4px 4px;
    text-align: left
}

.x-calendar-weeks .x-calendar-weeks-day-text {
    font-family: Roboto, sans-serif;
    color: #111;
    color: var(--color);
}

.x-calendar-weeks .x-calendar-weeks-outside-cell .x-calendar-weeks-day-text {
    color: #aaa
}

.x-calendar-weeks-today-cell {
    background-color: #bbdefb;
    background-color: var(--base-light-color);
}

.x-calendar-weeks .x-calendar-weeks-selection {
/*    background-color: #bbdefb;
    background-color: var(--base-light-color);*/
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3*/
}

.x-calendar-weeks .x-calendar-weeks-overflow {
    color: #15c;
    font-family: Roboto, sans-serif
}

.x-calendar-weeks-large .x-calendar-weeks-day-text {
    font-size: 13px
}

.x-calendar-weeks-large .x-calendar-weeks-overflow {
    font-size: 11px
}

.x-calendar-weeks-compact .x-calendar-weeks-day-text {
    font-size: 13px
}

.x-calendar-weeks-compact .x-calendar-weeks-overflow {
    font-size: 11px
}

.x-calendar-month-4weeks .x-calendar-weeks-row {
    height: 25%
}

.x-calendar-month-4weeks .x-calendar-weeks-row[data-week="4"],.x-calendar-month-4weeks .x-calendar-weeks-row[data-week="5"] {
    display: none
}

.x-calendar-month-5weeks .x-calendar-weeks-row {
    height: 20%
}

.x-calendar-month-5weeks .x-calendar-weeks-row[data-week="5"] {
    display: none
}

.x-calendar-month-6weeks .x-calendar-weeks-row {
    height: 16.66%
}

.x-calendar-list .x-calendar-list-item {
    margin: 0 0 6px 0;
}

.x-calendar-list .x-calendar-list-item-hidden {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5
}

.x-calendar-list .x-calendar-list-icon {
    width: 16px;
    height: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.x-calendar-list .x-calendar-list-text {
    padding-left: 20px
}

.x-calendar-picker-list-icon,.x-calendar-picker-field-icon {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0
}

.x-calendar-picker-list .x-picker-item {
    position: relative;
    width: 100%
}

.x-calendar-picker-list .x-calendar-picker-list-icon {
    width: 19.2px;
    height: 19.2px
}

.x-calendar-picker-list .x-calendar-picker-list-text {
    padding-left: 27.2px
}

.x-calendar-picker-list .x-picker-slot .x-calendar-picker-list-icon {
    margin-left: 9px
}

.x-calendar-picker-field .x-calendar-picker-field-icon {
    width: 19.2px;
    height: 19.2px;
    left: 0
}

.x-big .x-calendar-picker-field .x-calendar-picker-field-icon {
    left: 0
}

.x-calendar-picker-field .x-input-el {
    padding-left: 27.2px
}

.x-big .x-calendar-picker-field .x-input-el {
    padding-left: 27.2px
}

.x-panel-calendar-overflow > .x-anchor-el .x-pointer-el {
    fill: #fafafa;
    fill: var(--background-color);
    stroke: #e1e1e1;
    stroke: var(--faded-color);
}

.x-panel-calendar-overflow-body-el {
    background-color: #fafafa;
    background-color: var(--background-color);
    border-color: #e1e1e1;
    border-color: var(--faded-color);
}

.x-panel-calendar-overflow-boxscroller {
    border-color: #e1e1e1;
    border-color: var(--faded-color);
}

.x-panel-calendar-overflow-boxscroller > .x-boxscroller-body > .x-body-el {
    border: 0
}

.x-panel-calendar-overflow-outer-border-l {
    border-left-color: #e1e1e1 !important;
    border-left-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-b {
    border-bottom-color: #e1e1e1 !important;
    border-bottom-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-bl {
    border-bottom-color: #e1e1e1 !important;
    border-bottom-color: var(--faded-color) !important;
    border-left-color: #e1e1e1 !important;
    border-left-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-r {
    border-right-color: #e1e1e1 !important;
    border-right-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-rl {
    border-right-color: #e1e1e1 !important;
    border-right-color: var(--faded-color) !important;
    border-left-color: #e1e1e1 !important;
    border-left-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-rb {
    border-right-color: #e1e1e1 !important;
    border-right-color: var(--faded-color) !important;
    border-bottom-color: #e1e1e1 !important;
    border-bottom-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-rbl {
    border-right-color: #e1e1e1 !important;
    border-right-color: var(--faded-color) !important;
    border-bottom-color: #e1e1e1 !important;
    border-bottom-color: var(--faded-color) !important;
    border-left-color: #e1e1e1 !important;
    border-left-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-t {
    border-top-color: #e1e1e1 !important;
    border-top-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-tl {
    border-top-color: #e1e1e1 !important;
    border-top-color: var(--faded-color) !important;
    border-left-color: #e1e1e1 !important;
    border-left-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-tb {
    border-top-color: #e1e1e1 !important;
    border-top-color: var(--faded-color) !important;
    border-bottom-color: #e1e1e1 !important;
    border-bottom-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-tbl {
    border-top-color: #e1e1e1 !important;
    border-top-color: var(--faded-color) !important;
    border-bottom-color: #e1e1e1 !important;
    border-bottom-color: var(--faded-color) !important;
    border-left-color: #e1e1e1 !important;
    border-left-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-tr {
    border-top-color: #e1e1e1 !important;
    border-top-color: var(--faded-color) !important;
    border-right-color: #e1e1e1 !important;
    border-right-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-trl {
    border-top-color: #e1e1e1 !important;
    border-top-color: var(--faded-color) !important;
    border-right-color: #e1e1e1 !important;
    border-right-color: var(--faded-color) !important;
    border-left-color: #e1e1e1 !important;
    border-left-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-trb {
    border-top-color: #e1e1e1 !important;
    border-top-color: var(--faded-color) !important;
    border-right-color: #e1e1e1 !important;
    border-right-color: var(--faded-color) !important;
    border-bottom-color: #e1e1e1 !important;
    border-bottom-color: var(--faded-color) !important;
}

.x-panel-calendar-overflow-outer-border-trbl {
    border-color: #e1e1e1 !important;
    border-color: var(--faded-color) !important;
}

.x-panelheader-calendar-overflow {
    background-color: #fafafa;
    background-color: var(--background-color);
    background-image: none;
    border-color: #e1e1e1;
    border-color: var(--faded-color);
}

.x-panelheader-calendar-overflow.x-docked-right {
    border-color: #e1e1e1;
    border-color: var(--faded-color);
}

.x-panelheader-calendar-overflow.x-docked-left {
    border-color: #e1e1e1;
    border-color: var(--faded-color);
}

.x-panelheader-calendar-overflow.x-docked-bottom {
    border-color: #e1e1e1;
    border-color: var(--faded-color);
}

.x-calendar-panel .x-calendar-panel-create-button {
    padding-left: 39px;
    padding-right: 39px
}

.x-calendar-panel .x-calendar-sidebar {
    max-width: 20%;
    display: none;
}

.x-calendar-panel .x-calendar-sidebar .x-panel-body-el {
    padding: 13px
}

.x-calendar-panel-sheet {
    padding: 0;
    max-width: 80vw
}

.x-calendar-panel-sheet .x-sheet-body-el {
    padding: 13px
}

.x-compact .x-calendar-panel-title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.x-calendar-panel-switcher {
    display: none;
}