body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 *
 */
.error {
    display: block;
    font-size: 13px;
    color: red;
    margin-bottom: 3px;
}

.hide {
    display: none;
}

#user-photo {
    border: 2px #eee solid;
    padding: 2px;
    position: relative;
}

#user-photo > div {
    background: #eee;
    color: #999;
    height: 250px;

    display:flex;
    align-items:center;
    justify-content:center;
}


#user-photo > div:after {
    content: "ФОТО";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    display:flex;
    align-items:center;
    justify-content:center;
}

#user-photo button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -95px;
    width: 200px;
    z-index: 3;
}

#user-photo input {
    display: none;
}

#user-photo img {
    max-height: 100%;
    max-width: 100%;
    z-index: 2;
}

.full-width {
    display: block;
}

.user-list-element:hover {
    text-decoration: none;
}

.user-list-element blockquote {
    margin-top:15px;
    padding: 0 10px;
}

.terminal-list-element {
    background: url(../images/terminal.png) no-repeat bottom center;
    padding-bottom: 140px;
    border-bottom: 5px gray solid;
    text-align: center;
}

.terminal-list-element.active {
    border-bottom: 5px green solid;
}

#frame-terminal {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border: 0;
    width: 100%;
    height: 1000px;
}

.loader {
    min-height: 200px;
    background: url(../images/loader.gif) no-repeat center center;
}


#disks > div {
    background: white;
    padding: 15px;
    clear: both;
    margin-top: 15px;
    font-size: 16px;
}

#disks > div img {
    float: left;
    margin: -10px 15px 0 0;
    max-height: 100%;
}

#disks .hdd-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#disks .hdd-name span {
    color: #999;
}

#disks .hdd-total span, #disks .hdd-free span {
    display: inline-block;
    width: 100px;
}

#disks .hdd-pie {
    float: right;
    height:130px;
    width:300px;
    margin-top: -23px;
}

.damaged {
    color: red !important;
}