html {
    /*унаследовано из терминала*/
    /*--warning_color: red;*/
    /*--color-3_2: #15ac31;*/
    /*--color-1_2: #407db8;*/
    /*--ptt_purple: #f67e00;*/
    --init_color_title: #adadad;
    --other: grey;
}

:root {
    --base-color: #101828;
}

/*x-component x-thumb x-size-monitored x-paint-monitored x-floating*/


map-marker.stretch video {
    height: auto !important;
    margin-top: -50%;
}

.polylineDot {
    border-radius: 5px; color: #FFFFFF; padding: 3px; position: absolute; width: auto;
    background: var(--base-color);
}

.map-marker {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    padding: 1px;
    border-radius: 2px;
    background: var(--base-color);
    width: 140px;
    text-align: center;
}


.polylineDot:empty {
    background: transparent;
}

.x-gridrow.red {
    background: #c62828;
    color: white;
}

.x-header-el .x-checkcolumn-title-wrap-el, .to-hide-header .x-horizontal .x-paneltitle, .x-hidden {
    display: none;
}

.top-video-messages {
    position: absolute;
    background: rgba(255,255,255, .9);
    z-index: 10;
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

.pin-red .x-icon-el {
    color: #d7d7d7 !important;
}

.pin-green .x-icon-el {
    color: #73b51e !important;
}

.pin-red .x-icon-el:after {
    position: absolute;
    color: #cf4c35;
    content: "/";
    z-index: 10;
    font-weight: bold;
    font-size: 30px;
    margin: -5px 0 0 0;
}


.x-map-hint {
    width: 130px;
    height: 20px;
    position: absolute;
    /*border-bottom: 1px #ccc solid;*/
    margin: -15px 0 0 -10px;
    background: white;
    padding: 2px;
}

.x-map-hint:hover {
    background: #CCC;
}

.sldp_play_pause_btn {
    display: none;
}


.shp-player .x-toolbar {
    position: absolute;
    width: 100%;
    transition: 0.3s;
    z-index: 10;
    opacity: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: 0 0 white, 1px 1px white, 0 0 white, -1px -1px white, 0 0 white, 0 0 white, -1px 1px white, 1px -1px white, -3px -3px 4px rgba(0,0,0,.3), -3px 3px 4px rgba(0,0,0,.3), 3px 3px 4px rgba(0,0,0,.3), 3px -3px 4px rgba(0,0,0,.3);
}

.shp-player .x-toolbar.x-docked-bottom {
    bottom: 0;
}

.shp-player:hover .sldp_cbar {
    margin-bottom: 50px;
}

.shp-player:hover .x-toolbar {
    opacity: 1;
    background: #f5f5f5 !important;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.12), 2px 2px 5px 0 rgba(0, 0, 0, 0.08) !important;
    text-shadow: none !important;
}

.row > .x-body-el {
    align-content: flex-start;
}

.sldp_player_wrp_video {
    height: 100% !important;
}

.segment-select-cls img {
    height: 14px;
    float: left;
    margin: 1px 5px 0 0;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.sldp-video-sos-blink {
    border: 2px solid red !important;
}

.iframe-terminal .x-innerhtml {
    height: 100%;
}

.devices-status {
    font-weight: bold;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
}

.slider-timer {
    position: relative;
}

.slider-timer .x-track-el {
    height: 26px;
    background-color: transparent !important;
}

.slider-timer .x-fill-el {
    display: none;
}

.slider-timer .x-thumb {
    height: 26px;
    margin-top: -13px;
    border-radius: 0;
    width: 2px;
    background: var(--base-dark-color);
    z-index: 3;
    opacity: 0.9;
}

.slider-timer .x-thumb:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom: 13px solid var(--base-dark-color);
    bottom: 0;
    opacity: 0.3;
}

.slider-timer .x-slider .x-thumb-wrap-el {
    z-index: 2;
}

/* Видео архив */
.slider-timeline, .slider-timeline-vals {
    position: absolute;
    height: 26px;
    width: 100%;
    /*margin-top: 0;*/
    /*margin: 0 10px 15px 0;*/
    z-index: 1;
    /*border-bottom: 1px #000 solid !important;*/
    /*background-color: red;*/
    /*opacity: 0.2;*/
}

/*.slider-timeline-vals {*/
    /*opacity: 0.2;*/
/*}*/

.slider-timeline-vals > div:not(.slider-timeline-date) {
    background: var(--base-color);
    position: absolute;
    /*height: 100%;*/
    height: 15px;
    z-index: 2;
}

.slider-scale .x-thumb {
    height: 10px;
    width: 10px;
    margin-top: -5px;
    border-radius: 5px;
    opacity: 0.9;
}

/* Видео stream */
/*.slider-timeline, .slider-timeline-steream {*/
    /*position: absolute;*/
    /*height: 15px;*/
    /*width: 100%;*/
    /*margin-top: 0;*/
    /*z-index: 1;*/
/*}*/

/*.slider-timeline-steream {*/
    /*opacity: 0.2;*/
/*}*/

/*.slider-timeline-steream > div:not(.slider-timeline-date) {*/
    /*background: var(--alert-color);*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*z-index: 2;*/
/*}*/

.slider-timeline .slider-timeline-date {
    position: absolute;
    text-align: center !important;
    font-size: 8px !important;
    /*padding: 10px !important;*/
    /*margin: 10px !important;*/
    height: 15px !important;
    line-height: 10px !important;
}

.slider-timeline .slider-timeline-date:not(.date-min) {
    /*background: var(--divider-color);*/
}

.slider-timeline .slider-timeline-date:after {
    width: 1px;
    left:50%;
    position: absolute;
    height: 4px;
    bottom:0;
    background: black;
    content: '';
    z-index: 1;
}
.slider-timeline .slider-timeline-date.date-min:after {
    height: 3px;
    left:100%;
}

::-webkit-scrollbar {
    width: 15px;
    margin: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--divider-color);
    transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--disabled-color);
}

::-webkit-scrollbar-track {
    background: var(--header-background-color);
}

.timeline-icons .x-button .x-inner-el {
    padding: 2px;
    font-size: 12px;
}

/*.slider-events_marker {*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 1px;*/
    /*background-color: red;*/
    /*top: 0;*/
    /*z-index: 2;*/
/*}*/

/*.video-events_marker-bottom {*/
    /*position: relative;*/
    /*top: 100%;*/
    /*left: -1px;*/
    /*height: 3px;*/
    /*width: 3px;*/
    /*background-color: red;*/
    /*border-radius: 50%;*/
    /*z-index: 2;*/
/*}*/

/*Video events*/
.video-events_marker {
    position: absolute;
    height: 15px;
    top: 2px;
    width: 1px;
    z-index: 2;
    box-shadow: 0 0 0.2vw rgba(0,0,0,0.5);
}

.video-events_marker-bottom {
    position: relative;
    top: 11px;
    left: -2px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 0.2vw rgba(0,0,0,0.5);
}

.video-events_sos {
    background-color: var(--alert-color) !important;
}

.video-events_stream {
    background-color: var(--confirm-color) !important;
}

.video-events_battary {
    background-color: var(--base-dark-color) !important;
}

.video-events_ptt {
    background-color: var(--accent-dark-color) !important;
}

.video-events_comment {
    background-color: var(--init_color_title) !important;
}

.video-events_other {
    background-color: var(--other) !important;
}

/*==============*/

.ellipsis-text {
    /*overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}

.black-player {
    background: black;
    color: white;
}

.player-wrapper > div > div > div:not(.x-toolbar) {
    background: transparent;
}

.scroll-for-container {
    display: flex;
    flex-wrap: wrap;
}

.scroll-for-container.y > div {
    overflow-y: scroll !important;
}

.scroll-for-container.x > div {
    overflow-x: scroll !important;
    width: 100%;
}

.scroll-for-container .x-body-el {
    margin: 0px 0 0 1px;
    overflow: hidden;
    padding-bottom: 1px;
}

.hls-container .x-body-el {
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-for-container > .x-body-el > div {
    padding: 1px 1px 0 0;
}

.video-timer-caption {
    font-size: 0.8rem !important;
    color: var(--base-dark-color);
}

.video-scale-caption {
    font-size: 0.7rem !important;
    color: var(--base-dark-color);
}

.video-id-caption {
    font-size: 0.8rem !important;
}

.copyright-landau {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: #999;
}

.eventChecked-Sos .x-text-el {
    /*color: var(--alert-color) !important;*/
    color: #c62828 !important;
}

.eventChecked-Stream .x-text-el {
    /*color: var(--confirm-color) !important;*/
    color: #7cb342 !important;
}

.eventChecked-Lowb .x-text-el {
    /*color: var(--base-dark-color) !important;*/
    color: #1976d2 !important;
}

.eventChecked-Ptt .x-text-el {
    /*color: var(--accent-dark-color) !important;*/
    color: #f57c00 !important;
}

.eventChecked-Comment .x-text-el {
    color: #adadad !important;
}

.eventChecked-Sos .x-checkbox-icon-el {
    /*color: var(--alert-color) !important;*/
    color: #c62828 !important;
}

.eventChecked-Stream .x-checkbox-icon-el {
    /*color: var(--confirm-color) !important;*/
    color: #7cb342 !important;
}

.eventChecked-Lowb .x-checkbox-icon-el {
    /*color: var(--base-dark-color) !important;*/
    color: #1976d2 !important;
}

.eventChecked-Ptt .x-checkbox-icon-el {
    /*color: var(--accent-dark-color) !important;*/
    color: #f57c00 !important;
}

.eventChecked-Comment .x-checkbox-icon-el {
    color: #adadad !important;
}

.blocks_on_panel div {
    background-color: var(--alt-background-color) !important;
}

.toggle_font_color div {
    color: var(--base-color) !important;
}

.panel_background > div > div {
    background-color: var(--alt-background-color) !important;
}

.online > div {
    animation-name: state-animation1;
}

.offline > div {
    animation-name: state-animation2;
}

.offline > div, .online > div {
    background-size: 200% 200% !important;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.offline > div {
    background: linear-gradient(to right, rgba(207,4,4, 0.7) 0%, rgba(207,4,4, 0.7) 50%, rgba(255,181,181,0.88) 50%,rgba(207,4,4,0) 100%);
}

.online > div {
    background: linear-gradient(to right, rgba(27, 207, 0, 0.7) 0%, rgba(27, 207, 0, 0.7) 50%, rgba(158, 255, 141, 0.88) 50%,rgba(207,4,4,0) 100%);
}

.expand {
    position: fixed;
    background: black;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.timeline[resize] {
    width: 100%;
    height: 100%;
}

.mobile-config > div {
    min-width: 30px !important;
}

.mobile-config.x-component.x-layout-card-item .x-tab .x-inner-el {
    padding: 10px 4px !important;
}

.mobile-config.marker-main-view {
    border-top: 5px solid var(--base-color);
}

.landau-calendar-wrapper {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:  column;
}

.landau-calendar-wrapper .landau-calendar-row {
    flex-direction: row;
    flex: 1;
    display: flex;
    border: 1px var(--faded-color) solid;
    border-top: 0;
    border-left: 0;
}

.landau-calendar-wrapper .landau-calendar-cell {
    flex: 1;
    padding: 10px;
    border-left: 1px var(--faded-color) solid;
    overflow: hidden;
}

.landau-calendar-cell.today {
    background-color: var(--base-color);
    color: var(--base-foreground-color);
}

.landau-calendar-cell.select {
    background-color: var(--base-light-color);
}

.landau-calendar-cell.active:hover {
    background-color: #bbdefb;
    background-color: var(--base-light-color);
}

.landau-calendar-cell.inactive {
    color: var(--faded-color);
}

.landau-calendar-cell span {
  font-weight: bold;
}

.landau-calendar-cell .event {
    padding: 1px;
    margin-bottom: 1px;
}

.landau-calendar-cell .event.sos {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

.landau-calendar-cell .event.stream {
    background-color: rgba(56, 167, 27, 0.8);
    color: white;
}

.landau-calendar-cell .event.archive {
    background-color: rgba(235, 133, 0, 0.81);
    color: white;
}

.landau-calendar-cell .calendar-day {
    display: block;
}

.landau-calendar-row.days {
    height: 35px;
    flex: none;
    text-align: center;
    font-size: 13px;
    color: var(--color);
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.x-tab-icon.icon-streams {
    background: url("/common/stream.png");
    background-size: contain;
}

.x-tab-icon.icon-archive {
    background: url("/common/archive.svg");
    background-size: cover;
}

.test-view:before {
    content: "";
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    background: rgba(0, 159, 255, 0.5);
}

.x-left-month-tool, .x-right-month-tool {
    display: none !important;
}

@keyframes state-animation1 {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

@keyframes state-animation2 {
    0% {background-position: 0%}
    100% {background-position: 100%}
}



@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

@keyframes added {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
