html, body {
    height: 100%;
}

body {
    background: url(/images/login-bg.jpg) no-repeat;
    background-size: cover;
    display: flex;
    background-color: rgb(220, 240, 240);
    align-items: center;
}

.signin {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background: url(/images/login-dash.jpg) no-repeat;
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(155,155,155, .5);
}

form {
    margin: 30px 20px;
}

.signin label {
    display: block;
}

.signin .checkbox {
    font-weight: 400;
}
.signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.signin .form-control:focus {
    z-index: 2;
}

.col-md-10 {
    background: rgba(255,255,255, .95);
}

.field-name {
    font-weight: bold;
    font-size: 13px;
    display: block;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.error {
    display: block;
    font-size: 13px;
    color: red;
    margin-bottom: 3px;
}

button {
    margin-top: 25px;
}