<script src="/js/stomp/sock.js"></script>
<script src="/js/stomp/stomp.js"></script>


<select id="select">
    <option>/user/users/status</option>
    <option>/user/users/status/{userId}</option>
    <option>/user/users/location/{userId}</option>
    <option>/user/users/streams/start/{userId}</option>
    <option>/user/users/streams/stop/{userId}</option>
    <option>/user/users/events/buttons/{userId}</option>
    <option>/user/chat/group</option>
    <option>/user/chat/message</option>
    <option>/user/chat/message/{groupId}</option>
</select>
<input id="input" placeholder="{id}" />
<button id="subscribe">subscribe</button>

<div id="events"></div>


<script src="script.js"></script>