<script src='metro-map.js'></script>


<div id='metro' style='width: 1000px; height: 500px; position: relative;'></div>

<script>
var WSocket = {
	bind: function() {}
}

var map = new MetroMap("metro");


map.ready(function() {
        WSocket.bind({
            action: ["connect", "disconnect", "message"],
            scope: this,
            callback: function (data) {
                if (this.getMarkers()[data.id]) {
                    this.getMarkers()[data.id].device = data;
                    this.getMarkers()[data.id].setIcon(data.online ? '/images/user.png' : '/images/off_user.png');
                    this.getMarkers()[data.id].setText(data.name + ",&nbsp;♥&nbsp;" + data.pulse);
                }

                var records = this.getStore().getData().getRange();

                for (var i = 0; i < records.length; i++) {
                    if (records[i].data.id === data.id) {
                        records[i].set('state', data.online);
                    }
                }
            }
        });
		
		
		this.getStationCount("089");
		
	var marker = this.addMarker("58:69:6c:e7:c7:e5", "8080C10", "user.png");
		
	marker.setClick(function(marker) {
		console.log(marker);
	});
	//this.add(MetroMap.mac.find("00:00:00:00:00"), );
});


</script>