.station-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background: rgba(255,255,255, .9);
	z-index: 10;
	display: none;
}

.station-wrapper.active {
	display: block;
}

.metro-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 1;
	overflow: auto;
}

.marker-station-wrapper > div {
	z-index: 11;
	position: absolute;
}

.marker-station-wrapper {
    display: none;
}

.marker-station-wrapper.active {
	display: block;
}

.marker-wrapper {
    cursor: pointer;
}

.marker-wrapper img {
    float: left;
    margin-top: -8px;
}

.marker-wrapper div {
    display: inline-block;
}