<script src="sldp-v2.11.3.js"></script>


<div id="container"></div>

<script>
    var sldp = SLDP.init({
        container: "container",
        stream_url: "wss://localhost:8070/stream/test",
        height: "parent",
        width: "parent",
        //log_level:"debug",
        controls: true,
        callbacks: {
            onConnectionStarted: function() {
                console.log('onConnectionStarted');
            },
            onConnectionEstablished: function() {
                console.log('onConnectionEstablished');
            },
            onPlay: function() {
                console.log('onPlay');
            },
            onPause: function() {
                console.log('onPause');
            },
            onVolumeSet: function() {
                console.log('onVolumeSet');
            },
            onConnectionClosed: function() {
                console.log('onConnectionClosed');
            },
            onChangeRendition: function() {
                console.log('onChangeRendition');
            },
            onChangeRenditionComplete: function() {
                console.log('onChangeRenditionComplete');
            },
            onPlayStarted: function() {
                console.log('onPlayStarted');
            },
            onPlayFailed: function() {
                console.log('onPlayFailed');
            },
            onError: function() {
                console.log('onError');
            }
        },
        reconnects: 1000,
        autoplay: true,
        latency_tolerance: 2000,
        buffering: 1000
    }, this);

</script>


